@font-face {
    font-family: "Sci Fi Bronze";
    src: url("../assets/fonts/Sci\ Fi\ Bronze.ttf");
}

@font-face {
    font-family: "Researcher-thin";
    src: url("../assets/fonts/researcher-researcher-regular-400.ttf");
}

$primary-font: "Sci Fi Bronze", "sans-serif";
$secondary-font: "Researcher-thin", "sans-serif";

@media only screen and (max-width: 767px){
    .headerVideo_video-desktop{
        display: none;
    }
}

@media only screen and (min-width: 1200px){
    .headerVideo_video-mobile{
        display: none;
    }
}



html {
    background-color: black;
    color: white;

    .nav-container {
        width: 100%;
        font-family: $primary-font;
        padding: 8px 0 6px;
        background-size: 100% 6px;
        bottom: 0;
        position: fixed;
        display: flex;
        justify-content: space-around;

        .nav_menu-icon,
        .nav_email-icon {
            width: 40px;
        }

        .nav_menu-title,
        .nav_email-title {
            font-size: 12px;
        }

        .nav_logo {
            display: block;
            margin: 0 auto;
            max-width: 170px;
        }
    }

    .headerVideo-container {
        padding-top: 0 !important;
        height: 88vh;
        position: relative;
        display: block;
        width: 100%;

        .headerVideo_video-mobile {
            width: 100%;
            height: auto;
            min-height: 100%;
            position: absolute;
            top: 0;
            z-index: 1;
            object-fit: cover;
        }

        .headerVideo_video-desktop {
            display: block;
            width: 100%;
            height: auto;
            min-height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: 1;
            object-fit: cover;
        }

        .headerVideo_details {
            width: 100%;
            bottom: 0;
            position: absolute;
            padding-bottom: 65px;

            .headerVideo_title {
                display: inline-block;
                font-size: 21px;
                line-height: 28px;
                font-family: $secondary-font;
            }
        }
    }
}
